<!doctype html>
<!--&lt;!&ndash;[if lt IE 7]>-->
<!--<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7]>-->
<!--<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8]>-->
<!--<html class="no-js lt-ie9" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if gt IE 8]>&lt;!&ndash;>-->
<!--<html class="no-js" lang=""> &lt;!&ndash;<![endif]&ndash;&gt;-->
<%- include('common/head', {}); %>

<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
  <%- include('common/navbar', {}); %>
</aside>

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

  <!-- Header-->
  <%- include('common/header', {}); %><!-- /header -->
  <!-- Header-->

  <div class="content">
    <form id="myForm" action="./create" method="post" enctype="multipart/form-data">
      <div class="col-lg-12 no-padding">
        <div class="col col-md-8" style="padding: 3px">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body card-block">


                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="name" class=" form-control-label">Name</label>
                        <input type="text" id="name" name="name" class="form-control">
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="price" class=" form-control-label">Price</label>
                        <input type="number" id="price" name="price" class="form-control">
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="shortDescription" class=" form-control-label">Short Description</label>
                        <textarea type="text" id="shortDescription" name="shortDescription" class="form-control"></textarea>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="Description" class=" form-control-label">Description</label>
                        <textarea type="text" id="Description" name="description" class="form-control"></textarea>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="image1">Image</label>
                      </div>
                      <div class="col-12 col-md-12">
                        <div class="row">
                          <div class=" col-3 col-md-3">
                            <img id="blah"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAXVBMVEXa2trc3NxWVlZQUFDi4uJMTExwcHBVVVXJyclsbGyAgIBJSUmYmJh0dHTq6uq2trbQ0NBgYGDU1NRcXFy6urrAwMCjo6OwsLDr6+uVlZVmZmaPj4+fn598fHyKiopxX3gCAAABPUlEQVRoge3W3Y6CMBCGYToztZYqVCu4/uD9X+ZWjG52tSabTPdg8z0HxHDAy0BBmgYAAAAAAAD+KfOWTkMOfr0o8a1ORabARcErRVqmUoN4oRWxyRckvUjYxNeHMutQMyJiqkdkGLemckQGClP1yMUmHqRKxHzt4sR9jYhcdnLfNQab8j71iInOP95U5uTzIPoRObM9zaPk1WvEXH/qT+LzS2Q+/f1jGWhHpGci3myN2VJ7vzfqkdaSI9uKjGwPUiUiy+QysqPky5a3NSLdKg+SI7w5syM33xz9y5XPfx7F8bylQX91NbtbIx//1uJjVH93Nde19Q0vGu0nvul//s+7MKnfk9g/2UftSbpnHyKdYsSmw+ql89HqRcgWOMVPIipivY+7VGokpzSJict3VBp/81UPAAAAAAAAv/IJ3PkWrDb8/5QAAAAASUVORK5CYII="
                                 width="100px" height="100px" alt="your image"/>

                            <label class="btn btn-default btn-file no-padding mt-2 ml-1">
                              <span class="new-button-color">chose imange</span>

                              <input class="btn btn-default btn-file" type="file" id="image" name="image">
                            </label>
                          </div>
                          <div class="col-3 col-md-3">
                            <img id="blah1"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAXVBMVEXa2trc3NxWVlZQUFDi4uJMTExwcHBVVVXJyclsbGyAgIBJSUmYmJh0dHTq6uq2trbQ0NBgYGDU1NRcXFy6urrAwMCjo6OwsLDr6+uVlZVmZmaPj4+fn598fHyKiopxX3gCAAABPUlEQVRoge3W3Y6CMBCGYToztZYqVCu4/uD9X+ZWjG52tSabTPdg8z0HxHDAy0BBmgYAAAAAAAD+KfOWTkMOfr0o8a1ORabARcErRVqmUoN4oRWxyRckvUjYxNeHMutQMyJiqkdkGLemckQGClP1yMUmHqRKxHzt4sR9jYhcdnLfNQab8j71iInOP95U5uTzIPoRObM9zaPk1WvEXH/qT+LzS2Q+/f1jGWhHpGci3myN2VJ7vzfqkdaSI9uKjGwPUiUiy+QysqPky5a3NSLdKg+SI7w5syM33xz9y5XPfx7F8bylQX91NbtbIx//1uJjVH93Nde19Q0vGu0nvul//s+7MKnfk9g/2UftSbpnHyKdYsSmw+ql89HqRcgWOMVPIipivY+7VGokpzSJict3VBp/81UPAAAAAAAAv/IJ3PkWrDb8/5QAAAAASUVORK5CYII="
                                 width="100px" height="100px" alt="your image"/>

                            <label class="btn btn-default btn-file no-padding mt-2 ml-1">
                              <span class="new-button-color">chose imange</span>

                              <input class="btn btn-default btn-file" type="file" id="image1" name="image1">
                            </label>
                          </div>
                          <div class="col-3 col-md-3">
                            <img id="blah2"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAXVBMVEXa2trc3NxWVlZQUFDi4uJMTExwcHBVVVXJyclsbGyAgIBJSUmYmJh0dHTq6uq2trbQ0NBgYGDU1NRcXFy6urrAwMCjo6OwsLDr6+uVlZVmZmaPj4+fn598fHyKiopxX3gCAAABPUlEQVRoge3W3Y6CMBCGYToztZYqVCu4/uD9X+ZWjG52tSabTPdg8z0HxHDAy0BBmgYAAAAAAAD+KfOWTkMOfr0o8a1ORabARcErRVqmUoN4oRWxyRckvUjYxNeHMutQMyJiqkdkGLemckQGClP1yMUmHqRKxHzt4sR9jYhcdnLfNQab8j71iInOP95U5uTzIPoRObM9zaPk1WvEXH/qT+LzS2Q+/f1jGWhHpGci3myN2VJ7vzfqkdaSI9uKjGwPUiUiy+QysqPky5a3NSLdKg+SI7w5syM33xz9y5XPfx7F8bylQX91NbtbIx//1uJjVH93Nde19Q0vGu0nvul//s+7MKnfk9g/2UftSbpnHyKdYsSmw+ql89HqRcgWOMVPIipivY+7VGokpzSJict3VBp/81UPAAAAAAAAv/IJ3PkWrDb8/5QAAAAASUVORK5CYII="
                                 width="100px" height="100px" alt="your image"/>

                            <label class="btn btn-default btn-file no-padding mt-2 ml-1">
                              <span class="new-button-color">chose imange</span>

                              <input class="btn btn-default btn-file" type="file" id="image2" name="image2">
                            </label>
                          </div>
                          <div class="col-3 col-md-3">
                            <img id="blah3"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAXVBMVEXa2trc3NxWVlZQUFDi4uJMTExwcHBVVVXJyclsbGyAgIBJSUmYmJh0dHTq6uq2trbQ0NBgYGDU1NRcXFy6urrAwMCjo6OwsLDr6+uVlZVmZmaPj4+fn598fHyKiopxX3gCAAABPUlEQVRoge3W3Y6CMBCGYToztZYqVCu4/uD9X+ZWjG52tSabTPdg8z0HxHDAy0BBmgYAAAAAAAD+KfOWTkMOfr0o8a1ORabARcErRVqmUoN4oRWxyRckvUjYxNeHMutQMyJiqkdkGLemckQGClP1yMUmHqRKxHzt4sR9jYhcdnLfNQab8j71iInOP95U5uTzIPoRObM9zaPk1WvEXH/qT+LzS2Q+/f1jGWhHpGci3myN2VJ7vzfqkdaSI9uKjGwPUiUiy+QysqPky5a3NSLdKg+SI7w5syM33xz9y5XPfx7F8bylQX91NbtbIx//1uJjVH93Nde19Q0vGu0nvul//s+7MKnfk9g/2UftSbpnHyKdYsSmw+ql89HqRcgWOMVPIipivY+7VGokpzSJict3VBp/81UPAAAAAAAAv/IJ3PkWrDb8/5QAAAAASUVORK5CYII="
                                 width="100px" height="100px" alt="your image"/>

                            <label class="btn btn-default btn-file no-padding mt-2 ml-1">
                              <span class="new-button-color">chose imange</span>
                              <input class="btn btn-default btn-file" type="file" id="image3" name="image3">
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label class=" form-control-label">Information</label></div>
                      <div class="col col-md-12">
                        <textarea id="summernote" name="information" width="100px"></textarea>
                      </div>
                    </div>


                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label class=" form-control-label">User manual</label></div>
                      <div class="col col-md-12">
                        <textarea id="summernote2" name="userManual" width="100px"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .animated -->
        </div>
        <div class="col col-md-4 pr-0" style="padding: 3px 0 5px 5px ">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body card-block">
                    <div class="row form-group">
                      <div class="col-12 col-md-12">
                        <label for="fontSize" class=" form-control-label">Font Size</label>

                        <select id="fontSize" name="fontSize" data-placeholder="Choose size..." multiple
                                class="standardSelect">
                          <option value="" label="default"></option>
                          <option value="S">Size S</option>
                          <option value="M">Size M</option>
                          <option value="L">Size L</option>
                          <option value="XL">Size XL</option>
                          <option value="XXL">Size XXL</option>
                          <option value="XXXL">Size XXXL</option>
                        </select>
                      </div>

                      <div class="col-12 col-md-12 mt-3">
                        <label for="sizeNumber" class=" form-control-label">Size Number</label>
                        <select id="sizeNumber" name="sizeNumber" data-placeholder="Choose size..." multiple
                                class="standardSelect">
                          <option value="" label="default"></option>
                          <option value="35">Size 35</option>
                          <option value="36">Size 36</option>
                          <option value="37">Size 37</option>
                          <option value="38">Size 38</option>
                          <option value="39">Size 39</option>
                          <option value="40">Size 40</option>
                          <option value="41">Size 41</option>
                          <option value="42">Size 42</option>
                        </select>
                      </div>

                      <div class="col-12 col-md-12 mt-3">
                        <label for="color" class=" form-control-label">Color</label>
                        <select id="color" name="color" data-placeholder="Choose size..." multiple
                                class="standardSelect">
                          <option value="" label="default"></option>
                          <option value="blue" class="blue">Blue</option>
                          <option value="maroon" class="maroon">Maroon</option>
                          <option value="gray" class="gray">Gray</option>
                          <option value="green" class="green">Green</option>
                          <option value="yellow" class="yellow">Yellow</option>
                        </select>
                      </div>

                      <div class="col-12 col-md-12 mt-3">
                        <label for="category" class=" form-control-label">Categories</label>
                        <select id="category" name="category" class="standardSelect">
                          <% if(listCategory && listCategory.length){ %>
                          <% listCategory.forEach(function(categories){ %>
                          <optgroup label="<%= categories.name %>">
                            <option style="display: none">&nbsp;</option>
                            <% categories.categories.forEach(function(category){ %>
                            <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;<%= category.name %>">
                              <% category.items.forEach(function(item){ %>
                              <option value="<%= item.objectId %>">&nbsp;&nbsp;&nbsp;&nbsp; <%= item.name %></option>
                              <% }); %>
                            </optgroup>
                            <% }); %>
                            <% }); %>
                          </optgroup>
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div><!-- .animated -->
        </div>
      </div>

    </form>
    <div class="content-submit">
      <button type="submit" onclick="submit()" class="btn btn-sm btn-primary float-right">
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
    </div>
  </div><!-- .content -->

  <div class="clearfix"></div>

  <!--<footer class="site-footer">-->
  <!--<div class="footer-inner bg-white">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-6">-->
  <!--Copyright &copy; 2018 Ela Admin-->
  <!--</div>-->
  <!--<div class="col-sm-6 text-right">-->
  <!--Designed by <a href="https://colorlib.com">Colorlib</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</footer>-->

</div><!-- /#right-panel -->

<!-- Right Panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src=<%= domain + "assets/js/main.js" %>></script>
<script src=<%= domain + "assets/js/lib/chosen/chosen.jquery.min.js" %>></script>
<script>
  jQuery(document).ready(function () {
    jQuery(".standardSelect").chosen({
      disable_search_threshold: 10,
      no_results_text: "Oops, nothing found!",
      width: "100%"
    });
  });
</script>

<script>
  var reader = new FileReader();
  var reader1 = new FileReader();
  var reader2 = new FileReader();
  var reader3 = new FileReader();
  reader.onload = function (e) {
    $('#blah').attr('src', e.target.result);
  }

  reader1.onload = function (e) {
    $('#blah1').attr('src', e.target.result);
  }
  reader2.onload = function (e) {
    $('#blah2').attr('src', e.target.result);
  }
  reader3.onload = function (e) {
    $('#blah3').attr('src', e.target.result);
  }


  function readURL(input) {
    if (input.files && input.files[0]) {
      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURL1(input) {
    if (input.files && input.files[0]) {
      reader1.readAsDataURL(input.files[0]);
    }
  }

  function readURL2(input) {
    if (input.files && input.files[0]) {
      reader2.readAsDataURL(input.files[0]);
    }
  }

  function readURL3(input) {
    if (input.files && input.files[0]) {
      reader3.readAsDataURL(input.files[0]);
    }
  }

  $("#image").change(function () {
    readURL(this);
  });
  $("#image1").change(function () {
    readURL1(this);
  });
  $("#image2").change(function () {
    readURL2(this);
  });
  $("#image3").change(function () {
    readURL3(this);
  });

  $(document).ready(function () {
    $('#summernote').summernote();
  });

  $(document).ready(function () {
    $('#summernote1').summernote();
  });

  $(document).ready(function () {
    $('#summernote2').summernote();
  });

  function submit() {
    document.getElementById("myForm").submit();
  }
</script>

</body>
</html>
