<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<%- include('../common/head', {
csslinks: [
`http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css`,
`http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css`,
`${domain}assets/css/lib/chosen/chosen.min.css`,
`${domain}/css/banner.css`
]
}); %>
<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
  <%- include('../common/navbar', {}); %>
</aside>

<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <%- include('../common/header', {}); %>
  <!-- /#header -->
  <!-- Content -->
  <div class="content">
    <!------ message ---->
    <%if(errorMessage){%>
    <div class="col-lg-12 alert alert-danger text-center">
      <span class="error-message"><%= errorMessage%></span>
    </div>
    <%}%>
    <!-- Animated -->
    <form id="formBanner" action="./create" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 3px; margin-right: auto; margin-left: auto">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-6" style="margin-right: auto; margin-left: auto">
                <div class="card">
                  <div class="card-body card-block">
                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="image1">Image (require: 1200 < width and not greater than
                          5MB)</label>
                      </div>
                      <div class="col-12 col-md-12">
                        <div class="row">
                          <div class=" col-12 col-md-12">
                            <img id="blah"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAXVBMVEXa2trc3NxWVlZQUFDi4uJMTExwcHBVVVXJyclsbGyAgIBJSUmYmJh0dHTq6uq2trbQ0NBgYGDU1NRcXFy6urrAwMCjo6OwsLDr6+uVlZVmZmaPj4+fn598fHyKiopxX3gCAAABPUlEQVRoge3W3Y6CMBCGYToztZYqVCu4/uD9X+ZWjG52tSabTPdg8z0HxHDAy0BBmgYAAAAAAAD+KfOWTkMOfr0o8a1ORabARcErRVqmUoN4oRWxyRckvUjYxNeHMutQMyJiqkdkGLemckQGClP1yMUmHqRKxHzt4sR9jYhcdnLfNQab8j71iInOP95U5uTzIPoRObM9zaPk1WvEXH/qT+LzS2Q+/f1jGWhHpGci3myN2VJ7vzfqkdaSI9uKjGwPUiUiy+QysqPky5a3NSLdKg+SI7w5syM33xz9y5XPfx7F8bylQX91NbtbIx//1uJjVH93Nde19Q0vGu0nvul//s+7MKnfk9g/2UftSbpnHyKdYsSmw+ql89HqRcgWOMVPIipivY+7VGokpzSJict3VBp/81UPAAAAAAAAv/IJ3PkWrDb8/5QAAAAASUVORK5CYII="
                                 width="100%;" alt="your image"/>

                            <label class="btn btn-default btn-file no-padding"
                                   style="background-color: cadetblue; width: 100%; margin-top: 10px;">
                              <span class="new-button-color">chose imange</span>

                              <input class="btn btn-default btn-file" type="file" id="image" name="image">
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-lg-6" style="margin-right: auto; margin-left: auto">
                <div class="card">
                  <div class="card-body card-block">
                    <div class="row form-group">
                      <div class="col col-md-12">
                        <label for="title">Title</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input type="text" id="title" name="title" class="form-control">
                      </div>
                      <div class="col col-md-12">
                        <label for="title">Slogan</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input type="text" id="slogan" name="slogan" class="form-control">
                      </div>
                      <div class="col col-md-12">
                        <label for="title">Font Color</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <select id="color" name="color" class="standardSelect">
                          <option value="white" class="white">White</option>
                          <option value="purple" class="purple">Purple</option>
                          <option value="red" class="red">Red</option>
                          <option value="yellow" class="yellow">Yellow</option>
                          <option value="gray" class="gray">Gray</option>
                          <option value="blue" class="blue">Blue</option>
                        </select>
                      </div>
                      <div class="col col-md-12">
                        <label for="position">Position</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input type="number" id="position" name="position" class="form-control">
                      </div>
                      <div class="col col-md-12">
                        <label for="link">Link</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <input type="text" id="link" name="link" class="form-control">
                      </div>
                      <div class="col col-md-12">
                        <label for="status">Status</label>
                      </div>
                      <div class="col-12 col-md-12 mb-2">
                        <select id="status" name="status" class="form-control">
                          <option value="ACTIVE">ACTIVE</option>
                          <option value="INACTIVE">INACTIVE</option>
                        </select>
                      </div>
                      <div class="col col-md-12">
                        <label >Description</label>
                      </div>
                      <div class="col-12 col-md-12">
                        <!--<input type="text" id="description" name="description" class="form-control">-->
                        <textarea id="description" name="description" rows="5" cols="84"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12 col-md-12 mt-5">
          <button type="submit" onclick="submit()" class="btn btn-sm btn-primary float-right">
            <i class="fa fa-dot-circle-o"></i> Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- .animated -->

<!-- /.content -->
<div class="clearfix"></div>
<!-- Footer -->
<%- include('../common/footer', {}); %>
<!-- /.site-footer -->
</div>
<script>

</script>

</body>
</html>
