<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimalist eCommerce Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=<%= domain + "img/favicon.png"; %> >
    
    <!-- CSS
    ============================================ -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=<%= domain + "css/bootstrap.min.css"; %>>
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href=<%= domain + "css/icons.min.css"; %>>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href=<%= domain + "css/plugins.css"; %>>
    <!-- Main Style CSS -->
    <link rel="stylesheet" href=<%= domain + "css/style.css"; %>>
    <!-- Product Style CSS -->
    <link rel="stylesheet" href=<%= domain + "css/product.css"; %>>
    <!-- Product Style CSS -->
    <link rel="stylesheet" href=<%= domain + "css/banner.css"; %>>
    <!-- Modernizer JS -->
    <script src=<%= domain + "js/vendor/modernizr-2.8.3.min.js"; %>></script>
    <!-- ModalLoading CSS -->
    <link rel="stylesheet" href=<%= domain + "css/jquery.loadingModal.min.css"; %>>
    <% if (typeof csslinks !== 'undefined') { %>
        <% csslinks.forEach(function(csslink){ %>
            <link rel="stylesheet" href=<%= csslink; %> rel="stylesheet">
        <% }); %>
    <% } %>
</head>