<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<%- include('../common/head', {}); %>

<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
  <%- include('../common/navbar', {}); %>
</aside>

<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <%- include('../common/header', {}); %>
  <!-- /#header -->
  <!-- Content -->
  <div class="content">
    <!------ message ---->
    <%if(errorMessage){%>
    <div class="col-lg-12 alert alert-danger text-center">
      <span class="error-message"><%= errorMessage%></span>
    </div>
    <%}%>

    <div class="col-lg-12 no-padding">
      <div class="mb-2">
        <div class="card-header">
          <div class="row form-group">
            <div class="col col-md-6">
              <input type="text" class="form-control" placeholder="name">
            </div>

            <div class="col col-md-2">
              <select id="filterMenuId" name="filterMenuId" class="btn btn-outline-secondary ml-2" style="width: auto">
                <% menus.forEach(function (m) {%>
                <option value="<%=m.objectId%>" <%= m.objectId == menu ? 'selected' : ''%> ><%=m.name%></option>
                <%}) %>
              </select>
            </div>

            <div class="col col-md-2">
              <select id="filterParentId" name="filterParentId" class="btn btn-outline-secondary" style="width: auto">
                <% categories.forEach(function (category) {%>
                <option value="<%=category.objectId%>" <%= category.objectId == parent ? 'selected' : ''%> ><%=category.name%></option>
                <%}) %>
              </select>
            </div>

            <div class="col col-md-2">
              <select id="filterStatus" name="filterStatus" selected="<%=status%>" class="btn btn-outline-secondary ml-2" style="width: auto">
                <option value="ACTIVE" <%= 'ACTIVE' == status ? 'selected' : '' %>>ACTIVE</option>
                <option value="INACTIVE" <%= 'INACTIVE' == status ? 'selected' : '' %>>INACTIVE</option>
              </select>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- Animated -->
    <div class="col-lg-12 no-padding">
      <div class="card">
        <div class="card-header">
          <%if(user && user.role == 'administrator'){%>
          <button type="button" class="btn btn-primary btn-sm float-right btn-create" style="width: auto">Add New</button>
          <%}%>

          <strong class="card-title">Categories Children</strong>

        </div>
        <div class="card-body">
          <table class="table order-table table-striped table-bordered">
            <thead>
            <tr>
              <th scope="col" style="width: 10%">ID</th>
              <th scope="col" style="width: auto; text-align: center">Category Parent</th>
              <th scope="col" style="width: auto">Name</th>
              <th scope="col" style="width: 10%">Status</th>
              <th scope="col" style="width: 10%">Position</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% subCategories.forEach(function(subCategory){ %>
            <tr>
              <th scope="serial"><%= subCategory.objectId %></th>
              <td style="text-align: center">
                <span ><%= subCategory.parent && subCategory.parent.name ? subCategory.parent.name : '' %></span>
              </td>
              <td><%= subCategory.name %></td>
              <td>
                <span><%= subCategory.status %></span>
              </td>
              <td>
                <span><%= subCategory.position %></span>
              </td>


              <td>
                <button type="button"  class="btn btn-outline-success btn-sm btn-detail"
                        data-id="<%=subCategory.objectId%>"
                        data-name="<%=subCategory.name%>"
                        data-position="<%=subCategory.position%>"
                        data-status="<%=subCategory.status%>"
                        data-menu-id="<%=subCategory.parent && subCategory.parent.menu && subCategory.parent.menu ? subCategory.parent.menu.objectId : undefined %>"
                        data-parent-name="<%= subCategory.parent && subCategory.parent.name ? subCategory.parent.name : ''%>"
                        data-parent-id="<%= subCategory.parent && subCategory.parent.objectId ? subCategory.parent.objectId : undefined%>">
                  <i class="fa fa-eye"></i>
                  &nbsp; Edit
                </button>
              </td>
            </tr>

            <% }); %>

            </tbody>
          </table>
        </div>
        <div class="col-md-6 offset-md-3 mr-auto ml-auto">
          <ul class="col-md-12 offset-md-12 mr-auto ml-auto" style="text-align: center">
            <% if (prePage > 0) { %>
            <li class="btn btn-outline-primary"><a class="prev" href=
                      <%= domain + 'admin/'
                      + 'categories-children?page=' + prePage
                      + '&limit=' + limit
                      + '&status=' + status
                      + '&menu=' + menu
                      + '&parent=' + parent
                      %>>
                <i class="fa fa-angle-double-left"></i></a>
            </li>
            <% if (prePage > 1) { %>
            <li class="btn btn-outline-primary"><a class="" href="#">...</a></li>
            <% } %>
            <li class="btn btn-outline-primary"><a href= <%= domain + 'admin/'
              + 'categories-children?page=' + prePage
              + '&limit=' + limit
              + '&status=' + status
              + '&menu=' + menu
              + '&parent=' + parent
              %>><%= prePage; %></a>
            </li>
            <% } %>

            <% if (totalPage) { %>
            <li class="btn btn-outline-primary" style="color: #fff;background-color: #007bff;border-color: #007bff;">
              <a class="active" href="#" style="color: black"><%= page; %></a></li>
            <% } %>

            <% if (nextPage <= totalPage) { %>
            <li class="btn btn-outline-primary"><a href=<%= domain + 'admin/'
              + 'categories-children?page=' + nextPage
              + '&limit=' + limit
              + '&status=' + status
              + '&menu=' + menu
              + '&parent=' + parent
              %>><%= nextPage; %></a>
            </li>
            <% if (nextPage <= (totalPage - 1)) { %>
            <li class="btn btn-outline-primary"><a class="" href="#">...</a></li>
            <% } %>
            <li class="btn btn-outline-primary"><a class="next" href=<%= domain + 'admin/'
              + 'categories-children?page=' + nextPage
              + '&limit=' + limit
              + '&status=' + status
              + '&menu=' + menu
              + '&parent=' + parent
              %>>
                <i class="fa fa-angle-double-right"></i></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <!-- .animated -->
  </div>
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <%- include('../common/footer', {}); %>
  <!-- /.site-footer -->
</div>
<!-- /#right-panel -->
<!-- Modal -->
<div  class="modal fade" id="editMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Information Category</h5>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
          <div class="">
            <div class="card-body card-block">
              <form id="menuDetail" action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="text" id="objectId" name="objectId" class="form-control" style="display: none">
                <input type="text" id="menuId" name="menuId" class="form-control" style="display: none">
                <input type="text" id="parentId" name="parentId" class="form-control" style="display: none">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Name</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="name" name="name" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Status</label>
                  </div>
                  <div class="col-12 col-md-9" style="width: auto">
                    <select id="status" name="status" class="form-control">
                      <option value="INACTIVE">INACTIVE</option>
                      <option value="ACTIVE">ACTIVE</option>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Category Parent</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="parentName" name="parentName"  disabled="true" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Position</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="number" name="position" id="position" class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save-edit-menu">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div  class="modal fade" id="createMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
          <div class="">
            <div class="card-body card-block">
              <form id="formCreateMenu" action="./categories-children/create" method="post" enctype="multipart/form-data" class="form-horizontal">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="newName" class=" form-control-label">Name</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="newName" name="newName" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="newStatus" class=" form-control-label">Status</label>
                  </div>
                  <div class="col-12 col-md-9" style="width: auto">
                    <select id="newStatus" name="newStatus" class="form-control">
                      <option value="ACTIVE">ACTIVE</option>
                      <option value="INACTIVE">INACTIVE</option>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="newMenu" class=" form-control-label">Menu</label>
                  </div>
                  <div class="col-12 col-md-9" style="width: auto">
                    <select id="newMenuId" name="newMenuId" class="form-control">
                      <% menus.forEach(function (me) {%>
                      <option value="<%=me.objectId%>"><%=me.name%></option>
                      <%}) %>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="newMenu" class=" form-control-label">Parent</label>
                  </div>
                  <div class="col-12 col-md-9" style="width: auto">
                    <select id="newParentId" name="newParentId" class="form-control">
                      <% categories.forEach(function (category) {%>
                      <option value="<%=category.objectId%>"><%=category.name%></option>
                      <%}) %>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="newPosition" class=" form-control-label">Position</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="number" name="newPosition" id="newPosition" class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-save-new-menu">Add New</button>
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function($){

    $('.btn-detail').on('click', function() {
      $('#editMenu').modal('show');
      $('#objectId').val($(this).data('id'));
      $('#menuId').val($(this).data('menu-id'));
      $('#position').val($(this).data('position'));
      $('#parentId').val($(this).data('parent-id'));
      $('#name').val($(this).data('name'));
      $('#status').val($(this).data('status'));
      $('#parentName').val($(this).data('parent-name'));
    });

    $('.btn-save-edit-menu').on('click', function() {
      $('#editMenu').modal('hide');
      document.getElementById('menuDetail').submit()
    });

    $('.btn-create').on('click', function () {
      $('#createMenu').modal('show');
    })

    $('.btn-save-new-menu').on('click', function() {
      $('#createMenu').modal('hide');
      document.getElementById('formCreateMenu').submit();
    });

    $('#filterParentId').on('change', function() {
      var parentIdFilter = $('#filterParentId').val();
      var menuIdFilter = $('#filterMenuId').val();
      var url = `/admin/categories-children?menu=${menuIdFilter}&parent=${parentIdFilter}`
      if (url) { // require a URL
        window.location = url; // redirect
      }
      return false;
    });
    $('#filterMenuId').on('change', function() {
      var menuIdFilter = $('#filterMenuId').val();
      var url = `/admin/categories-children?menu=${menuIdFilter}`
      if (url) { // require a URL
        window.location = url; // redirect
      }
      return false;
    });
    $('#filterStatus').on('change', function() {
      var menuIdFilter = $('#filterMenuId').val();
      var parentIdFilter = $('#filterParentId').val();
      var statusFilter = $('#filterStatus').val();

      var url = `/admin/categories-children?menu=${menuIdFilter}&parent=${parentIdFilter}&status=${statusFilter}`
      if (url) { // require a URL
        window.location = url; // redirect
      }
      return false;
    });
    $('#newMenuId').on('change',async function () {
       let menuId = $('#newMenuId').val()
      var callUrl = `/admin/categories-parent?menu=${menuId}&fetch=${true}`
      let data = await fetch(callUrl, {
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          // 'Accept': 'application/json',
          "Content-Type": "application/json",
          // "Content-Type": "application/x-www-form-urlencoded",
        }})
      data = await data.json()
       console.log('result: ', data)

      $('#newParentId').empty();
      data.categories.forEach(element => {
        $('#newParentId').append($("<option></option>").attr("value", element.objectId).text(element.name));
      });
    })


  })
</script>
</body>
</html>
