<!doctype html>
<html class="no-js" lang="zxx">

<%- include('common/head', {}); %>

<body>
<%- include('common/header', { menus }); %>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href=<%= domain; %>>Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-90 pb-100">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product){ %>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href=<%= domain + 'product/' + product.objectId; %>>
                                                <img style="width: 82px;" src=<%= domain + product.images; %> alt="">
                                            </a>
                                        </td>
                                        <td class="product-name product-quantity">
                                            <a href=<%= domain + 'product/' + product.objectId; %>>Product Name</a>
                                            <!-- <br>
                                            <span class="amount">$<%= product.price; %></span>
                                            <br>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value=<%= product.count; %>>
                                            </div>
                                            <br>
                                            <span>$<%= product.price * product.count; %></span> -->
                                        </td>
                                        <td class="product-price-cart">$<span class="amount"><%= product.price; %></span></td>
                                        <td class="product-quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box"
                                                    data-product-id="<%= product.objectId; %>"
                                                    data-subtotal=".product-subtotal-<%= product.objectId; %>"
                                                    data-amount="<%= product.price; %>"
                                                    type="text" name="qtybutton" value=<%= product.count; %>>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">$
                                            <span class="product-subtotal-<%= product.objectId; %>"><%= product.price * product.count; %></span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                            <a href="#"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href=<%= domain; %>>Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <!-- <button>Update Shopping Cart</button> -->
                                    <a href=<%= domain + "cart/clear"; %>>Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Enter your destination to get a shipping estimate.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select has-error">
                                        <label>
                                            * Recipient's name
                                        </label>
                                        <input type="text" name="Recipient_name" class="has-error">
                                        <!-- <select class="city s-wid">
                                            <option value="HCM">Hồ Chí Minh</option>
                                            <option value="HN">Hà Nội</option>
                                        </select> -->
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Phone Number
                                        </label>
                                        <input type="text", name="Recipient_phone">
                                        <!-- <select class="district s-wid">
                                            
                                        </select> -->
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Delivery Address
                                        </label>
                                        <input type="text" name="address">
                                    </div>
                                    <!-- <button class="cart-btn-2" type="submit">Get A Quote</button> -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                               <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> 
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                             <h5>Total products</h5>
                            <div class="total-shipping">
                                <h5>Total shipping</h5>
                                <ul>
                                    <li> Standard <span>$0</span></li>
                                    <!-- <li><input type="checkbox"> Express <span>$30.00</span></li> -->
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total  <span>$<span class="total-amount"><%= totalAmount; %></span></span></h4>
                            <a class="cart-order">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.png">
                        </a>
                    </div>
                    <p>© 2019 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src=<%= domain + "js/vendor/jquery-1.12.4.min.js"; %>></script>
<!-- Popper JS -->
<script src=<%= domain + "js/popper.min.js"; %>></script>
<!-- Bootstrap JS -->
<script src=<%= domain + "js/bootstrap.min.js"; %>></script>
<!-- jQuery Cookie JS -->
<script src=<%= domain + "js/vendor/jquery.cookie.js"; %>></script>
<!-- Plugins JS -->
<script src=<%= domain + "js/plugins.js"; %>></script>
<!-- Ajax Mail -->
<script src=<%= domain + "js/ajax-mail.js"; %>></script>
<!-- Modal loading JS -->
<script src=<%= domain + "js/jquery.loadingModal.min.js"; %>></script>
<!-- Main JS -->
<script src=<%= domain + "js/main.js"; %>></script>

</body>

</html>
