<!doctype html>
<html class="no-js" lang="zxx">

<%- include('common/head', {}); %>

<body>
<%- include('common/header', { menus }); %>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href=<%= domain; %>>Home</a>
                </li>
                <li class="active">Products</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
                <!-- <div class="shop-top-bar mb-35">
                    <div class="select-shoing-wrap">
                        <div class="shop-select">
                            <select>
                                <option value="">Sort by newness</option>
                                <option value="">A to Z</option>
                                <option value=""> Z to A</option>
                                <option value="">In stock</option>
                            </select>
                        </div>
                        <p>Showing 1–12 of 20 result</p>
                    </div>
                    <div class="filter-active">
                        <a href="#"><i class="fa fa-plus"></i> filter</a>
                    </div>
                </div> -->
                <div class="product-filter-wrapper">
                    <div class="row">
                        <!-- Product Filter -->
                        <!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>Sort by</h5>
                                <ul class="sort-by">
                                    <li><a href="#">Default</a></li>
                                    <li><a href="#">Popularity</a></li>
                                    <li><a href="#">Average rating</a></li>
                                    <li><a href="#">Newness</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- Product Filter -->
                        <!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>color filters</h5>
                                <ul class="color-filter">
                                    <li><input type="checkbox" value=""> <a href="#">Black</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Brown</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Orange</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">red</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Yellow</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">purple</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- Product Filter -->
                        <!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>product tags</h5>
                                <div class="product-tags">
                                    <ul>
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">brand</a></li>
                                        <li><a href="#">black</a></li>
                                        <li><a href="#">white</a></li>
                                        <li><a href="#">chire</a></li>
                                        <li><a href="#">table</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- Product Filter -->
                        <!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>Filter by price</h5>
                                <div class="price-filter mt-25">
                                    <div class="price-slider-amount">
                                        <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <%- include('products/index', { products }); %>

                <div class="pro-pagination-style text-center mt-30">
                    <ul>
                        <% if (prePage > 0) { %>
                            <li><a class="prev" href=
                                <%= domain 
                                    + 'product?page=' + prePage 
                                    + '&limit=' + limit 
                                    + '&keyword=' + keyword 
                                    + '&menu=' + menuId
                                    + '&category=' + categoryId;%>>
                                <i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li><a href= <%= domain 
                                + 'product?page=' + prePage 
                                + '&limit=' + limit 
                                + '&keyword=' + keyword 
                                + '&menu=' + menuId
                                + '&category=' + categoryId;%>><%= prePage; %></a>
                            </li>
                        <% } %>
                        
                        <% if (totalPage) { %>
                            <li><a class="active" href="#"><%= page; %></a></li>
                        <% } %>                        

                        <% if (nextPage <= totalPage) { %>
                            <li><a href=<%= domain
                                + 'product?page=' + nextPage 
                                + '&limit=' + limit 
                                + '&keyword=' + keyword 
                                + '&menu=' + menuId
                                + '&category=' + categoryId;%>><%= nextPage; %></a>
                            </li>
                            <% if (nextPage <= (totalPage - 1)) { %>
                                <li><a class="" href="#">...</a></li>
                            <% } %>
                            <li><a class="next" href=<%= domain
                                + 'product?page=' + nextPage 
                                + '&limit=' + limit 
                                + '&keyword=' + keyword 
                                + '&menu=' + menuId
                                + '&category=' + categoryId;%>><%= nextPage; %>>
                                <i class="fa fa-angle-double-right"></i></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.png">
                        </a>
                    </div>
                    <p>© 2019 <a href="#">Flone</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.." name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src=<%= domain + "js/vendor/jquery-1.12.4.min.js"; %>></script>
<!-- Popper JS -->
<script src=<%= domain + "js/popper.min.js"; %>></script>
<!-- Bootstrap JS -->
<script src=<%= domain + "js/bootstrap.min.js"; %>></script>
<!-- jQuery Cookie JS -->
<script src=<%= domain + "js/vendor/jquery.cookie.js"; %>></script>
<!-- Plugins JS -->
<script src=<%= domain + "js/plugins.js"; %>></script>
<!-- Ajax Mail -->
<script src=<%= domain + "js/ajax-mail.js"; %>></script>
<!-- Main JS -->
<script src=<%= domain + "js/main.js"; %>></script>

</body>

</html>