<nav>
  <ul>
      <% menus.forEach(function(menu){ %>
        <li><a href=<%= domain + 'product?menu=' + menu.objectId; %>> <%= menu.name %> <i class="fa fa-angle-down"></i> </a>
          <ul class="mega-menu">
              <% menu.categories.forEach(function(category){ %>
                <li>
                  <ul>
                      <li class="mega-menu-title"><a href="#"><%= category.name %></a></li>
                      <% category.items.forEach(function(item){ %>
                        <li><a href=<%= domain + 'product?category=' + item.objectId; %>><%= item.name %></a></li>
                      <% }); %>
                  </ul>
                </li>
              <% }); %>
          </ul>
        </li>
      <% }); %>
      <!-- <li><a href="shop.html"> Men <i class="fa fa-angle-down"></i> </a>
        <ul class="mega-menu">
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">Coats</a></li>
              <li><a href="shop.html">standard style</a></li>
              <li><a href="shop-filter.html">Grid filter style</a></li>
              <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
              <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
              <li><a href="shop-grid-fw.html">Grid full wide </a></li>
              <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
              <li><a href="shop-list.html">list 1 column box </a></li>
              <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
              <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">Jackets</a></li>
              <li><a href="product-details.html">tab style 1</a></li>
              <li><a href="product-details-2.html">tab style 2</a></li>
              <li><a href="product-details-3.html">tab style 3</a></li>
              <li><a href="product-details-4.html">sticky style</a></li>
              <li><a href="product-details-5.html">gallery style </a></li>
              <li><a href="product-details-slider-box.html">Slider style</a></li>
              <li><a href="product-details-affiliate.html">affiliate style</a></li>
              <li><a href="product-details-6.html">fixed image style </a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">Denim</a></li>
              <li><a href="product-details.html">tab style 1</a></li>
              <li><a href="product-details-2.html">tab style 2</a></li>
              <li><a href="product-details-3.html">tab style 3</a></li>
              <li><a href="product-details-4.html">sticky style</a></li>
              <li><a href="product-details-5.html">gallery style </a></li>
              <li><a href="product-details-slider-box.html">Slider style</a></li>
              <li><a href="product-details-affiliate.html">affiliate style</a></li>
              <li><a href="product-details-6.html">fixed image style </a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-img"><a href="shop.html"><img src="img/banner/banner-12.png" alt=""></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="shop.html"> Shop <i class="fa fa-angle-down"></i> </a>
        <ul class="mega-menu">
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">shop layout</a></li>
              <li><a href="shop.html">standard style</a></li>
              <li><a href="shop-filter.html">Grid filter style</a></li>
              <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
              <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
              <li><a href="shop-grid-fw.html">Grid full wide </a></li>
              <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
              <li><a href="shop-list.html">list 1 column box </a></li>
              <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
              <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">product details</a></li>
              <li><a href="product-details.html">tab style 1</a></li>
              <li><a href="product-details-2.html">tab style 2</a></li>
              <li><a href="product-details-3.html">tab style 3</a></li>
              <li><a href="product-details-4.html">sticky style</a></li>
              <li><a href="product-details-5.html">gallery style </a></li>
              <li><a href="product-details-slider-box.html">Slider style</a></li>
              <li><a href="product-details-affiliate.html">affiliate style</a></li>
              <li><a href="product-details-6.html">fixed image style </a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-img"><a href="shop.html"><img src="img/banner/banner-12.png" alt=""></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="shop.html"> Shop <i class="fa fa-angle-down"></i> </a>
        <ul class="mega-menu">
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">shop layout</a></li>
              <li><a href="shop.html">standard style</a></li>
              <li><a href="shop-filter.html">Grid filter style</a></li>
              <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
              <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
              <li><a href="shop-grid-fw.html">Grid full wide </a></li>
              <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
              <li><a href="shop-list.html">list 1 column box </a></li>
              <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
              <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">product details</a></li>
              <li><a href="product-details.html">tab style 1</a></li>
              <li><a href="product-details-2.html">tab style 2</a></li>
              <li><a href="product-details-3.html">tab style 3</a></li>
              <li><a href="product-details-4.html">sticky style</a></li>
              <li><a href="product-details-5.html">gallery style </a></li>
              <li><a href="product-details-slider-box.html">Slider style</a></li>
              <li><a href="product-details-affiliate.html">affiliate style</a></li>
              <li><a href="product-details-6.html">fixed image style </a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-img"><a href="shop.html"><img src="img/banner/banner-12.png" alt=""></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="shop.html"> Shop <i class="fa fa-angle-down"></i> </a>
        <ul class="mega-menu">
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">shop layout</a></li>
              <li><a href="shop.html">standard style</a></li>
              <li><a href="shop-filter.html">Grid filter style</a></li>
              <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
              <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
              <li><a href="shop-grid-fw.html">Grid full wide </a></li>
              <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
              <li><a href="shop-list.html">list 1 column box </a></li>
              <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
              <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-title"><a href="#">product details</a></li>
              <li><a href="product-details.html">tab style 1</a></li>
              <li><a href="product-details-2.html">tab style 2</a></li>
              <li><a href="product-details-3.html">tab style 3</a></li>
              <li><a href="product-details-4.html">sticky style</a></li>
              <li><a href="product-details-5.html">gallery style </a></li>
              <li><a href="product-details-slider-box.html">Slider style</a></li>
              <li><a href="product-details-affiliate.html">affiliate style</a></li>
              <li><a href="product-details-6.html">fixed image style </a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class="mega-menu-img"><a href="shop.html"><img src="img/banner/banner-12.png" alt=""></a></li>
            </ul>
          </li>
        </ul>
      </li> -->
    <li><a href="#">Blog <i class="fa fa-angle-down"></i></a>
      <ul class="submenu">
        <li><a href="blog.html">blog standard</a></li>
        <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
        <li><a href="blog-details.html">blog details 1</a></li>
        <li><a href="blog-details-2.html">blog details 2</a></li>
        <li><a href="blog-details-3.html">blog details 3</a></li>
      </ul>
    </li>
    <li><a href="about.html"> About </a></li>
    <li><a href="contact"> Contact</a></li>
  </ul>
</nav>