<nav>
  <ul>
      <% menus.forEach(function(menu){ %>
        <li style="position: unset;"><a href=<%= domain + 'product?menu=' + menu.objectId; %>> <%= menu.name %> <i class="fa fa-angle-down"></i> </a>
          <ul class="mega-menu" style="display: flex;">
            <% menu.categories.forEach(function(category){ %>
              <li>
                <ul>
                    <li class="mega-menu-title"><a href="<%= domain + 'product?category=' + category.objectId; %>"><%= category.name %></a></li>
                    <li><a href=<%= `${domain}menu/categories?menu=${menu.objectId}&parent=${category.objectId}` ; %>><%= 'All ' + category.name %></a></li>
                    <% category.items.forEach(function(item){ %>
                      <li><a href=<%= domain + 'product?category=' + item.objectId; %>><%= item.name %></a></li>
                    <% }); %>
                </ul>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>

    <li><a href="#">About <i class="fa fa-angle-down"></i></a>
      <ul class="submenu">
        <li><a href="https://www.facebook.com/notes/consignista-saigon/h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-cho-kh%C3%A1chshop-b%C3%A1n/2359119507702083/" target="_blank">For Store</a></li>
        <li><a href="https://www.facebook.com/notes/consignista-saigon/h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-cho-kh%C3%A1ch-mua/2359118731035494/" target="_blank">For Customer</a></li>
        <!-- <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
        <li><a href="blog-details.html">blog details 1</a></li>
        <li><a href="blog-details-2.html">blog details 2</a></li>
        <li><a href="blog-details-3.html">blog details 3</a></li> -->
      </ul>
    </li>
    <!-- <li><a href="about.html"> About </a></li> -->
    <li><a href="contact"> Contact</a></li>
  </ul>
</nav>
