<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<%- include('../common/head', {}); %>
<body>
    <!-- Left Panel -->
    
    <aside id="left-panel" class="left-panel">
        <%- include('../common/navbar', {}); %>
    </aside>

    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <%- include('../common/header', {}); %>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Products</strong>
                        <% if (user && user.role == 'store') { %>
                            <button type="button" class="btn btn-outline-success btn-sm float-right" 
                                onclick="location.href = './product/create'">New
                            </button>
                          <% } %>
                    </div>
                    <div class="card-body">
                        <table class="table order-table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 10%">ID</th>
                                    <th scope="col" style="width: 12%">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col" style="width: 10%">status </th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product){ %>
                                    <tr>
                                        <td scope="serial"><%= product.objectId %></td>
                                        <td><img src=<%= domain + product.images[0]; %> alt="" width="100"></td>
                                        <td><%= product.name %></td>
                                        <td><%= '$' + product.price %></td>
                                        <td>
                                            <span class="badge badge-<%= product.status == 'ACTIVE'
                                                ? 'complete'
                                                : (product.status == 'PENDING') ? 'pending' : 'delete'
                                            %>">
                                                <%= product.status == 'ACTIVE' 
                                                    ? 'Approved' 
                                                    : (product.status == 'PENDING')
                                                        ? 'Pending'
                                                        : 'Deleted';%>
                                            </span>
                                        </td>
                                        <td>
                                            <% if (product.status == 'PENDING' && user && user.role === 'administrator') { %>
                                                <a>
                                                    <button type="button" onclick="location.href ='./product/<%= product.objectId %>/approve'" class="btn btn-outline-success btn-sm">
                                                        <i class="fa fa-magic"></i>
                                                        &nbsp; Approve
                                                    </button>
                                                </a>
                                            <% } %>
                                            <% if (product.status == 'PENDING' && user && user.role === 'store') { %>
                                                <a>
                                                    <button type="button" onclick="location.href ='./product/<%= product.objectId %>/edit'" class="btn btn-outline-success btn-sm">
                                                        <i class="fa fa-magic"></i>
                                                        &nbsp; Edit
                                                    </button>
                                                </a>
                                            <% } %>
            
                                            <a target="_blank" href="../product/<%= product.objectId %>">
                                                <button type="button" class="btn btn-outline-success btn-sm" >
                                                    <i class="fa fa-eye"></i>
                                                    &nbsp; Detail
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                <% }); %>

                            </tbody>
                        </table>
                        <div class="col-md-6 offset-md-6 mr-auto ml-auto">
                            <ul class="col-md-12 offset-md-12 mr-auto ml-auto" style="text-align: center">
                                <% if (prePage > 0) { %>
                                <li class="btn btn-outline-primary"><a class="prev" href=
                                            <%= domain + 'admin/'
                                            + 'product?page=' + prePage
                                            + '&limit=' + limit
                                            + '&status=' + status
                                            + '&keyword=' + keyword
                                            %>>
                                        <i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <% if (prePage > 1) { %>
                                <li class="btn btn-outline-primary"><a class="" href="#">...</a></li>
                                <% } %>
                                <li class="btn btn-outline-primary"><a href= <%= domain + 'admin/'
                                    + 'product?page=' + prePage
                                    + '&limit=' + limit
                                    + '&status=' + status
                                    + '&keyword=' + keyword
                                    %>><%= prePage; %></a>
                                </li>
                                <% } %>

                                <% if (totalPage) { %>
                                <li class="btn btn-outline-primary" style="color: black;background-color: #007bff;border-color: #007bff;">
                                    <a class="active" href="#" style="color: black"><%= page; %></a></li>
                                <% } %>

                                <% if (nextPage <= totalPage) { %>
                                <li class="btn btn-outline-primary"><a href=<%= domain + 'admin/'
                                    + 'product?page=' + nextPage
                                    + '&limit=' + limit
                                    + '&status=' + status
                                    + '&keyword=' + keyword
                                    %>><%= nextPage; %></a>
                                </li>
                                <% if (nextPage <= (totalPage - 1)) { %>
                                <li class="btn btn-outline-primary"><a class="" href="#">...</a></li>
                                <% } %>
                                <li class="btn btn-outline-primary"><a class="next" href=<%= domain + 'admin/'
                                    + 'product?page=' + nextPage
                                    + '&limit=' + limit
                                    + '&status=' + status
                                    + '&keyword=' + keyword
                                    %>>
                                        <i class="fa fa-angle-double-right"></i></a>
                                </li>
                                <% } %>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <%- include('../common/footer', {}); %>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
</body>
</html>
